@import '~bootstrap/scss/bootstrap';

body {
    // background-color: rgb(233, 230, 230);
    // background: url(images/bison-black-white.jpg) no-repeat center center fixed;
    // background: url(https://source.unsplash.com/nDku_Hmu6zk/4272×2856) no-repeat center center fixed;
    // background-size: cover;
    min-height: 100%;
    font-family: 'Nunito', sans-serif;
    // margin: 0;
}

.pdf {
    max-width: 80vh;
}